*

!.gitignore
!*.zshrc
!.claude/
!.claude/claude.md
!.claude/commands/
!.claude/commands/brainstorm.md
!.claude/commands/plan.md
!.claude/commands/session-summary.md
!.claude/commands/brainstorm.md
!.claude/commands/setup.md
!.claude/docs/
!.claude/docs/source-control.md
!.claude/skills
