<div class="csr">
  <p class="text text--sm">Need some help?</p>
  <p class="text text--sm">Click the chat icon to contact us.</p>
  <p class="text text--sm">Access our <%= link_to "Help Center", "https://support.kin.com/", target: "_blank", class: "csr--email" %></p>
</div>
