/-----------------------------------------------------------------------------
/- Application scripts
/-----------------------------------------------------------------------------
/= javascript_include_tag "application-foot"
/= render "layouts/scripts/defer_js"
/-----------------------------------------------------------------------------
/- Trackers and Analytics
/-----------------------------------------------------------------------------
- if %w{staging production}.include?(Rails.env)
  = render "layouts/scripts/analytics_scripts"
  = render "layouts/scripts/user_tracking"
/-----------------------------------------------------------------------------
/- Inline scripts/styles
/-----------------------------------------------------------------------------
footer
  = yield :foot
