<div class="row">
  <div class="col-xs-12">
    <section class="card rounded-400 m-b-200" data-rspec="escrow-payment-block">
      <div class="container-fluid p-x-0">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <h3>Payment Method - Escrow</h3>
          </div>
        </div>
        <div class="p-t-400">
          <p>Your lender will be billed directly for policy payments. If you wish to make a payment using a credit card or make any changes to your payment method, please call us at 855-216-7674.</p>
        </div>
      </div>
    </section>
  </div>
</div>
