<kin-alert class="m-b-300" open variant="information" class="m-b-400" data-rspec="payment-alert-block">
  <b>Just a heads up...</b>
  <br />
  For information or questions on your payments, please <button class="text--link" data-kustomer-open="true">start a chat with our Kinfolk</button> so we can help!
</kin-alert>
