<kin-alert class="m-b-300" open closable variant="danger">
  <p class="text nomargin">There is no card on file for the following <%= policy_or_policies_word %>:</p>
    <ul class="m-l-500" style="list-style: disc">
      <% policies_missing_credit_cards.each do |policy| %>
        <li>
          <%= link_to full_address(policy), policy_path(policy.policy_number) %>
        </li>
      <% end %>
    </ul>
    <p class="text nomargin">Please add a payment method <%= to_policy_or_policies_phrase %>.</p>
</kin-alert>
