<div class="container-fluid center-xs">
  <%= yield %>
  <div class="row center-xs">
    <div class="col-xs-12 col-lg-3">
      <%=link_to  "Go to Policy Details", policy_path(@policy.policy_number), class: "button button--primary button--lg button--block"%>
    </div>
  </div>
</div>
